.card {
    display: flex;    
    flex-flow: column nowrap;
    border-radius: 16px;
    border: 1px solid black;
    
}

.card__header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.card__body {
    padding: 16px;
    font-size: 20px;
    border-top: 1px solid black;
}

.card__title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 24px;
    margin-right: auto;
}

.card__number {
    padding: 0 16px;
}

.card__userId {
    padding: 0 16px;
    margin-right: auto;
}

.card__remove {
    padding: 0 16px;
    margin-right: 16px;
}